@{
    ViewBag.Title = "Home Page";
}

<main>
    <body style="background-image: url('../uploads/h.jpg');background-repeat:no-repeat; background-size:contain;background-size:cover;">
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">BookYourNest.com</h1>
            <div><p class="lead">Founded in 2024 in India, bookyournest.com has grown from a small startup to one of the world’s leading digital hotel booking companies. By investing in the technology that helps take the friction out of travel, Booking.com seamlessly connects millions of travellers with memorable experiences, a range of transport options and incredible places to stay - from homes to hotels and much more.</p></div>

        </section>
        <div class="imgs" style="align-content:center; padding-top: 20px;">
            <img src="~/uploads/image.jpg" height="400" width="400">
            <img src="~/uploads/images.jpg" height="400" width="450">
            <img src="~/uploads/download (3).jpg" height="400" width="400">
        </div>

        <div class="row" style="padding-top: 20px;">
            <section class="col-md-4" aria-labelledby="ExploreKerala">
                <h2 id="ExploreKerala">Explore Deluxe Rooms!</h2>
                <p>
                    Palm-lined beaches, thrilling wildlife tours, breathtaking backwaters, resplendent hills adorned with tea, coffee, and spice plantations and spicy cuisine are just some of the many things you experience while traveling through this diverse state spread across an area of 38,863 km².
                </p>
                <p><a class="btn btn-outline-dark" href="https://localhost:44319/signup/adduserdetails">Book now &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="ExploreKarnata">
                <h2 id="librariesTitle">Explore Budgetfriendly rooms!</h2>
                <p> Karnataka is located in the southwestern region of India. It is a rich state, rich in culture & heritage as well as the diversity of its landscape. Larger than life palaces fascinate you as much as the beaches & hill stations, all of which are an intrinsic part of Karnataka tourism places.</p>
                <p><a class="btn btn-outline-dark" href="https://localhost:44319/signup/adduserdetails">Book now &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="ExploreTamilnadu">
                <h2 id="hostingTitle">Explore the rooms with best view!</h2>
                <p>Tamil Nadu is the sixth most visited State in India, with over 360 million domestic and international tourists in 2021. Tamil Nadu has a rich cultural heritage, with over 33,000 temples. It is often referred to as the “Land of Temples” due to its plethora of ancient and intricately designed temples.</p>
                <p><a class="btn btn-outline-dark" href="https://localhost:44319/signup/adduserdetails">Book now &raquo;</a></p>
            </section>
        </div>
    </body>
</main>
